{:paths ["src" "resources"]

 :deps {com.github.clj-easy/graal-build-time  {:mvn/version "0.1.4"}
        com.kiranshila/cybermonday            {:mvn/version "0.5.197"}
        com.taoensso/timbre                   {:mvn/version "6.1.0"}
        cpath-clj/cpath-clj                   {:mvn/version "0.1.2"}
        hiccup/hiccup                         {:mvn/version "1.0.5"}
        http-kit/http-kit                     {:mvn/version "2.6.0"}
        metosin/reitit                        {:mvn/version "0.7.0-alpha3"}
        metosin/ring-http-response            {:mvn/version "0.9.3"}
        ring/ring-defaults                    {:mvn/version "0.3.4"}}

 :aliases {:build
           {:deps
            {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
            :ns-default build}}}
