/*This is CSS from the 11ty blog template.*/

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header {
    border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    display: flex;
    gap: 1em 0.5em;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home-link {
    font-size: 1em; /* 16px /16 */
    font-weight: 700;
    margin-right: 2em;
}
.home-link:link:not(:hover) {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
    text-decoration: none;
}
.nav a[href][aria-current="page"] {
    text-decoration: underline;
}
